@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Застосування для роботи з БД "Рейтинг НПП"</h1>
    <p>Виконано в рамках курсової роботи з дисципліни «Системи баз даних»</p>
</div>

<div class="mt-5">
    <h2>Предметна область:</h2>
    <img src="img/task.png" class="mt-3" />

    <h2 class="mt-5">Діаграма бази даних:</h2>
    <img src="img/diagram.png" class="mt-3" />
</div>
