@{
    ViewData["Title"] = "Про програму";
}
<h1>@ViewData["Title"]</h1>

<p>Київ, Україна. 2022. КПІ, ФІОТ, кафедра ІПІ, курсова робота з дисципліни "Бази даних" - створення застосунку. Виконав студент 2 курсу групи ІС-02 Коваль Кирило Назарович</p>
